body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("blackjack.jpg");
    background-position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    font-weight: bold;
    text-align: center;
    color: white;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

#start-btn{
    background-color: green;
    width: 150px;
    opacity: 0.8;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    
}

#hit-btn {
    background-color: green;
    width: 150px;
    opacity: 0.8;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
